<h1>Enter a get request here or use the form the submit a post request.</h1>
<form id = "form-request" action="/post-loopback" method="POST">
    <input type="text" name = data placeholder="Please enter what you want to post here" />
    <input type="submit" value="post"/>
</form>